{% extends "base.html" %}
{% load static %}

{% block app_content %}

    <div class="container">
        <div id="app">
            <div class="app_title"> EcoC02 Test Technique</div>
            <p><% data_size %></p>
            <ul>
                <li v-for="data in real_data">
                    {#                        index = <% index %> /#}
                    {#                        index.co2_rate = <% index.co2_rate %> /#}
                    {#                        index.datetime = <% index.datetime %> /#}
                    co2_rate = <% data.co2_rate %> /
                    datetime = <% data.datetime %>
                    is_week_day = <% data.is_week_day %>
                </li>
            </ul>
            <ul>
                <li v-for="data in difference_data">
                    {#                        index = <% index %> /#}
                    {#                        index.co2_rate = <% index.co2_rate %> /#}
                    {#                        index.datetime = <% index.datetime %> /#}
                    difference = <% data.difference_abs %> /
                    datetime = <% data.datetime %>
                    is_week_day = <% data.is_week_day %>
                </li>
            </ul>

        </div>

    </div>

    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
{% endblock %}